 <div class="homeimg">
            <img src="images/home/img01.jpg" alt="Avion">
        </div>
        <div class="columnas">
            <div class="bienvenidos left">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic nihil non laboriosam
                    officia necessitatibus ratione asperiores esse, repellendus quo suscipit error, quia optio sapiente
                    consectetur illo vel praesentium. Necessitatibus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ad commodi voluptatem in, quae
                    praesentium vitae vel necessitatibus dolorum qui consequatur magnam et suscipit, neque voluptatibus
                    impedit doloremque molestias accusantium.</p>
            </div>
            <div class="testimonios right">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente Excelente</span>
                    <span class="autor">Juan Perez - zapatos.com</span>
                </div>
            </div>
        </div>