 <h2>Servicios</h2>
        <div class="servicio">
            <img src="images/servicios/ferroviario.jpg" alt="tren">
            <div class="info">
                <h4>Transporte Ferroviario</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo culpa similique aliquid maxime! Ab,
                    facilis illum perspiciatis aliquid harum eius, animi earum et quasi possimus deleniti neque tenetur
                    iure assumenda!</p>
            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/aereo.jpg" alt="avion">
            <div class="info">
                <h4>Transporte Aereo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo culpa similique aliquid maxime! Ab,
                    facilis illum perspiciatis aliquid harum eius, animi earum et quasi possimus deleniti neque tenetur
                    iure assumenda!</p>
            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/maritimo.jpg" alt="barco">
            <div class="info">
                <h4>Transporte Maritimo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo culpa similique aliquid maxime! Ab,
                    facilis illum perspiciatis aliquid harum eius, animi earum et quasi possimus deleniti neque tenetur
                    iure assumenda!</p>
            </div>
        </div>


        <div class="servicio">
            <img src="images/servicios/terrestre.jpg" alt="camion">
            <div class="info">
                <h4>Transporte Terrestre</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo culpa similique aliquid maxime! Ab,
                    facilis illum perspiciatis aliquid harum eius, animi earum et quasi possimus deleniti neque tenetur
                    iure assumenda!</p>
            </div>
        </div>